@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Inter:wght@400;500;600;700&display=swap');

@theme inline {
  --color-background: #000000;
  --color-foreground: #eeeeee;
  
  --color-primary: #065fd4;
  --color-primary-hover: #0b7dda;
  
  --color-surface: #0f0f0f;
  --color-surface-hover: #272727;
  
  --color-text-secondary: #aaaaaa;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

:root {
  --background: #000000;
  --foreground: #eeeeee;
}

body {
  background-color: #000000;
  color: #eeeeee;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

@layer base {
  * {
    @apply border-white/10;
  }
}
